<h1>Local SHOP</h1>

<h3>hOLA</h3>

<a href="/signup">Sign up</a>
<a href="/login">Log in</a>
<a href="/logout">Log out</a>
<a href="/profile">Profile</a>
<div>
    <a href="/add-business">ADDDDD</a>
</div>