<section class='home'>
    <div class="container-home">

        <div class="top"></div>
        <div id="banner">
            <h1>localSHOP</h1>
            <p>Search your localshop on your city!</p>
            <a href="/business"><button>Search</button></a>
        </div>
        <div class="bottom"></div>


    </div>

    <div class="banner-add">
        <div class="text-add">
            <h2>Do you want to add your business?</h2>
            <a href="/add-business"><button>Add business</button></a>
        </div>
    </div>


    <div class="about-us">
        <div class="text-about">
            <h2>ABOUT US</h2>
            <p>We are an application that offers you the possibility to search the local shops near you. You can filter
                by
                type of business. By other hand, If you are a business owner and you want to add your business to our
                application, feel free to register it. You will know which people likes your business!!</p>
        </div>
        <div class="about-us-photo">
        </div>
    </div>

</section>