<div class="container-home">
    <div class='title-home'>
        <h1>localSHOP://</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ad iste voluptatum quas, fugit alias
            incidunt.
        </h3>
        <a href="/business"><button>Search</button></a>
    </div>

</div>


<div class='about-home'>
    <h3>About us</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repellat ut nostrum a illo doloribus! Ipsum
        tempora voluptatibus facilis corporis, blanditiis, libero vel quibusdam fugiat, obcaecati facere minus quis
        reiciendis.</p>
</div>