* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav {
  background: #c5c5c4;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav li a.active,
nav li a:hover {
  color: black;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.container-home {
  background: url(../images/home-image.jpg) no-repeat center center/cover;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-home .title-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
}

.container-home h1 {
  font-weight: 700;
  font-size: 2.5rem;
  padding: 20px;
}

.container-home h3 {
  width: 80%;
  font-size: 1rem;
}

.container-home button {
  font-size: 1rem;
  margin: 20px;
  padding: 10px 30px;
  border: none;
  box-shadow: 2px 2px 4px black;
}

.about-home {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-home h3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1.5px solid #fa6400;
}

.about-home p {
  text-align: center;
  margin: 10px;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c4;
  height: 80px;
}

.navbar-footer a {
  text-decoration: none;
}

.navbar-footer li {
  display: inline;
  color: black;
  margin: 10px;
}

.navbar-footer .active {
  color: #fa6400;
}

.navbar-footer li:hover {
  color: #fa6400;
}

.business-targets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.business-targets .business-results {
  background-color: #c5c5c4;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.business-targets .business-results .img-business {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-targets .business-results .img-business img {
  width: 100%;
  border: 3px solid #c5c5c4;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
