/* css - reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CSS*/
$primarycolor: #c5c5c4;
$secondarycolor: #fa6400;

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.navbar {
  background-color: white;
}

.container-home {
  background: url(../images/home-image.jpg) no-repeat center center / cover;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
  }
  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 20px;
  }
  h3 {
    width: 80%;
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
    margin: 20px;
    padding: 10px 30px;
    border: none;
    box-shadow: 2px 2px 4px black;
  }
}

.about-home {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1.5px solid $secondarycolor;
  }

  p {
    text-align: center;
    margin: 10px;
  }
}
.navbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primarycolor;
  height: 80px;

  a {
    text-decoration: none;
  }

  li {
    display: inline;
    color: black;
    margin: 10px;
  }

  .active {
    color: $secondarycolor;
  }

  li:hover {
    color: $secondarycolor;
  }
}

// business

.business-targets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .business-results {
    background-color: $primarycolor;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

    .img-business {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        border: 3px solid $primarycolor;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }
    }
  }
}
