html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

$primarycolor: #c5c5c4;
$secondarycolor: tomato;

b {
  font-weight: 600;
}

body {
  font-family: "Raleway", sans-serif;
}

//navbar



label.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.navbar {
  background: #c5c5c4;
  height: 80px;
  width: 100%;

  ul {
    float: right;
    margin-right: 20px;
  }

  li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

    a {
      color: white;
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
    }
  }

  a.active,
  a:hover {
    color: $secondarycolor;
    transition: 0.5s;
  }
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

//home
.container-home {
  background: url(../images/home-image.jpg) no-repeat center center / cover;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 80%;
  }

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 20px;
  }

  h3 {
    width: 80%;
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    margin: 20px;
    padding: 10px 30px;
    border: none;
    box-shadow: 2px 2px 4px black;
  }
}

.about-home {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1.5px solid $secondarycolor;
  }

  p {
    text-align: center;
    margin: 10px;
  }
}

.navbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primarycolor;
  height: 80px;

  a {
    text-decoration: none;
  }

  li {
    display: inline;
    color: black;
    margin: 10px;
  }

  .active {
    color: $secondarycolor;
  }

  li:hover {
    color: $secondarycolor;
  }
}

// business

.business-container {
  height: 30vh;
  width: 100%;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-search {
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;

    h1 {
      color: white;
      font-weight: 600;
      text-align: center;
      font-size: 2rem;
    }

    .inputs-search {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .search-btn {
        align-self: center;
        font-size: 1rem;
        margin: 20px;
        padding: 10px 30px;
        border: none;
        box-shadow: 2px 2px 4px black;
      }
    }
  }
}

.container-card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0, 2px, rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: initial;

    h4 {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .img-card {
      width: 100%;
      height: 50%;

      img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
      }
    }

    .info-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
      line-height: 0.5rem;
      padding: 1rem;

      h4 {
        font-weight: 600;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        line-height: 1.2rem;
      }

      a {
        padding-top: 1rem;
        text-decoration: none;
        color: $secondarycolor;
      }

      a:hover {
        color: $primarycolor;
      }

      .favourite-btn {
        color: $secondarycolor;
        border: none;
        background-color: white;
        width: 16px;
      }
    }
  }
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.name-fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

//business-details

.section-details {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  .info-details {
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial;
    width: 100%;
    background-color: rgb(244, 245, 241);

    .img-details {
      width: 100%;
      // min-height: 50%;
      max-height: 60%;

      img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
      }
    }

    .directions {
      width: 100%;
      padding: 2rem 0 0 1rem;

      h2 {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.7rem;
      }

      h5 {
        line-height: 2rem;
        font-size: 1.3rem;
      }

      p {
        line-height: 1.6rem;
        margin: 1rem 0;
      }
    }
  }

  .details-map {
    width: 100%;
    height: 100%;
    padding: 0 20px;

    img {
      box-shadow: 0px 2px 6px black;
      width: 100%;
      height: 100%;
    }
  }

  .details-map {
    width: 100%;
    height: 100%;
    padding: 0 20px;

    img {
      box-shadow: 0px 2px 6px black;
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

      .details-map {
        width: 100%;
        height: 100%;
        padding: 0 20px;
          
        img {
          box-shadow: 0px 2px 6px black;
          width: 100%;
          height: 100%;
        }
      }


  i {
    font-size: 20px;
    color: $secondarycolor;
  }
}

//Review
.review-title {
  margin: 1px 20px;
  padding: 1rem;
  background-color: rgb(244, 245, 241);
  width: 100%;
  line-height: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.review-container {
  margin: 5px 20px;
  padding: 1rem;
  background-color: rgb(244, 245, 241);
  width: 100%;
  line-height: 1rem;
  border-radius: 8px;

  .date {
    font-size: 0.6rem;
  }

  p {
    width: 100%;
    line-height: 1.5rem;
  }
}

h4 {
  font-weight: 600;
  font-size: 1.2rem;
}

.review-write {
  margin: 9px 20px;
  padding: 1rem;
  background-color: rgb(244, 245, 241);
  width: 100%;
  line-height: 1rem;
  border-radius: 8px;

  button {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    box-shadow: 2px 2px 4px black;
  }
}

//profile

.profile-section {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto-edit {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;

  a {
    margin: 10px;
  }
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 150px;

  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 150px;
  }
}

.personal-info {
  width: 95%;
}

.profile-info {
  margin-top: 10px;
  padding: 1rem;
  width: 95%;
  line-height: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  line-height: 2rem;

  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 3rem;
    line-height: 4rem;
  }

}

.my-business-title,
.my-reviews-title {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;

  i {
    color: tomato;
  }
}

.all-my-business {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
}

.my-business {
  padding-top: 5px;
  margin-bottom: 10px;
  width: 46%;
  margin: 5px;
  background-color: rgb(244, 245, 241);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0, 12px, rgba(0, 0, 0, 0.9);

  p {
    padding-top: 2%;
    text-align: center;
    font-size: 1.2rem;
    height: 45px;
    margin: 5px;
    font-weight: 600;
    line-height: 1.2rem;
  }

  a {
    color: black;
    text-align: center;
    width: 100%;
  }

  a:hover {
    text-decoration: none;
  }
}

.my-business:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.img-business-profile {
  width: 100%;
  height: 150px;
  border-radius: 8px;

  img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.review-profile {
  margin: 5px;
  padding: 15px;
  width: 90%;
  background-color: rgb(244, 245, 241);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0, 12px, rgba(0, 0, 0, 0.9);

  h5 {
    padding: 10px;
    font-weight: 600;
    font-size: 1.2rem;
  }

  p {
    padding: 0 10px;
  }

  button {
    background-color: rgb(244, 245, 241);
    border: none;
  }

  i {
    font-size: 1.5rem;
    padding: 10px;
    color: tomato;
  }

  i:hover {
    color: black;
  }
}

//edit-profile
.edit-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-weight: 600;
    font-size: 3rem;
    margin: 20px;
    color: $secondarycolor;
  }

  h4 {
    font-weight: 600;
    font-size: 2rem;

    color: $secondarycolor;
  }
}

//signup

.signup-sct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 675px;
   
  

  .form-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    width: 375px;
    // border: 3px solid $primarycolor;
    box-shadow: 0px 0px 6px $primarycolor;
    border-radius: 25px;
    
    
    
    h2 {
      font-size: 2rem;
      padding-top: 2rem;
      margin-bottom: 1rem;
      
    }
    div {
      display: flex;
      flex-direction: column;
      padding: .5rem 0;

    }
    
    button {
      padding: .7rem;
      margin: 1rem;
      color: white;
      font-weight: bold;
      background-color: $primarycolor;
    }

    button:hover {
      // color: $secondarycolor;
      border: 2px solid $secondarycolor;
      transform: translateY(-2px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  

    }
  
    input {
      width: 260px;
      height: 40px;
      text-align: center;
    } 

    label {
      padding: 0.5rem;
      text-align: center;
    }
    
    .error-message {
      padding: 2rem 0;
      color: $secondarycolor;
      border-radius: 15px;
      margin: 1rem 4rem;
      text-align: center;
      box-shadow: 0px 0px 3px $primarycolor;
      font-weight: bold;
    }
  
  }


}

//login
.login-sct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
   
  

  .form-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 490px;
    width: 375px;
    // border: 3px solid $primarycolor;
    box-shadow: 0px 0px 6px $primarycolor;
    border-radius: 25px;
    
    
    
    h2 {
      font-size: 2rem;
      padding-top: 2rem;
      margin-bottom: 1rem;
      
    }
    div {
      display: flex;
      flex-direction: column;
      padding: .5rem 0;

    }
    
    button {
      padding: .7rem;
      margin: 1rem;
      color: white;
      font-weight: bold;
      background-color: $primarycolor;
    }

    button:hover {
      // color: $secondarycolor;
      border: 2px solid $secondarycolor;
      transform: translateY(-2px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  

    }
  
    input {
      width: 260px;
      height: 40px;
      text-align: center;
    } 

    label {
      padding: 0.5rem;
      text-align: center;
    }
    
    .error-message {
      padding: 2rem 0;
      color: $secondarycolor;
      border-radius: 15px;
      margin: 1rem 4rem;
      text-align: center;
      box-shadow: 0px 0px 3px $primarycolor;
      font-weight: bold;
    }
  
  }


}



  input {
    height: 30px;
    border: none;
  }

  textarea {
    border: none;
  }

  div {
    padding-top: 10px;
  }

  button {
    margin-top: 15px;
    align-self: center;
    font-size: 1rem;
    padding: 10px 30px;
    border: none;
    box-shadow: 2px 2px 4px black;
  }

  button:hover {
    color: $secondarycolor;
  }

  .delete-button {
    border: none;
    background-color: none;
    color: $secondarycolor;
    box-shadow: none;
    background-color: rgb(244, 245, 241);
    font-size: 2rem;
    padding: 0;
  }

  .title-bizz-edit {
    color: black;
  }
}

//mediaQueris

@media (max-width: 858px) {
  label.logo {
    font-size: 1.3rem;
  }

  .checkbtn {
    display: block;
  }

  .navbar {
    background: #c5c5c4;
    height: 80px;
    width: 100%;

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
      z-index: 2;
      
    }

    li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

    a {
      font-size: 20px;
    }

    a.active,
    a:hover {
      background: none;
      color: tomato;
    }
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media (min-width: 858px) {
  //business-details
  .section-details {
    width: 100%;
    // max-width: 1200px;
    display: flex;

    .details-map {
      height: 300px;


      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .info-details {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: initial;
      width: 100%;

      background-color: rgb(244, 245, 241);

      .img-details {
        width: 50%;
        max-width: 50%;
        height: 100%;
        max-height: unset;

        img {
          object-fit: unset;
          width: 100%;
          height: 100%;
        }
      }

      .directions {
        width: 50%;
        max-width: 50%;
        padding: 25px 10px 0 20px;

        h2 {
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.7rem;
        }

        h5 {
          line-height: 2rem;
          font-size: 1.3rem;
        }

        p {
          line-height: 1.6rem;
          margin: 1rem 0;
        }
      }
    }
  }

  //profile
  .profile-section {
    margin: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .personal-info {
    min-width: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .foto-edit {
    a:hover {
      color: tomato;
    }
  }

  .profile-info {
    width: 40%;
    background-color: white;
  }

  .my-business-title {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .all-my-business {
    min-width: 850px;
    margin: 20px;
  }

  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
  }

  .review-profile {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
