html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

b {
  font-weight: 600;
}

body {
  font-family: "Raleway", sans-serif;
}

label.logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.navbar {
  background: #c5c5c4;
  height: 80px;
  width: 100%;
}

.navbar ul {
  float: right;
  margin-right: 20px;
}

.navbar li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.navbar li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navbar a.active,
.navbar a:hover {
  color: tomato;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.container-home {
  background: url(../images/home-image.jpg) no-repeat center center/cover;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-home .title-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 80%;
}

.container-home h1 {
  font-weight: 700;
  font-size: 2.5rem;
  padding: 20px;
}

.container-home h3 {
  width: 80%;
  font-size: 1rem;
}

.container-home button {
  font-size: 1rem;
  margin: 20px;
  padding: 10px 30px;
  border: none;
  box-shadow: 2px 2px 4px black;
}

.about-home {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-home h3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 1.5px solid tomato;
}

.about-home p {
  text-align: center;
  margin: 10px;
}

.navbar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c4;
  height: 80px;
}

.navbar-footer a {
  text-decoration: none;
}

.navbar-footer li {
  display: inline;
  color: black;
  margin: 10px;
}

.navbar-footer .active {
  color: tomato;
}

.navbar-footer li:hover {
  color: tomato;
}

.business-container {
  height: 30vh;
  width: 100%;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.business-container .form-search {
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
}

.business-container .form-search h1 {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
}

.business-container .form-search .inputs-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.business-container .form-search .inputs-search .search-btn {
  align-self: center;
  font-size: 1rem;
  margin: 20px;
  padding: 10px 30px;
  border: none;
  box-shadow: 2px 2px 4px black;
}

.container-card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container-card .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0, 2px, rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: initial;
}

.container-card .card h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.container-card .card p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.container-card .card .img-card {
  width: 100%;
  height: 50%;
}

.container-card .card .img-card img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.container-card .card .info-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  line-height: 0.5rem;
  padding: 1rem;
}

.container-card .card .info-card h4 {
  font-weight: 600;
}

.container-card .card .info-card p {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 1.2rem;
}

.container-card .card .info-card a {
  padding-top: 1rem;
  text-decoration: none;
  color: tomato;
}

.container-card .card .info-card a:hover {
  color: #c5c5c4;
}

.container-card .card .info-card .favourite-btn {
  color: tomato;
  border: none;
  background-color: white;
  width: 16px;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.name-fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.section-details {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.section-details .info-details {
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: initial;
  width: 100%;
  background-color: #f4f5f1;
}

.section-details .info-details .img-details {
  width: 100%;
  max-height: 60%;
}

.section-details .info-details .img-details img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.section-details .info-details .directions {
  width: 100%;
  padding: 2rem 0 0 1rem;
}

.section-details .info-details .directions h2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.section-details .info-details .directions h5 {
  line-height: 2rem;
  font-size: 1.3rem;
}

.section-details .info-details .directions p {
  line-height: 1.6rem;
  margin: 1rem 0;
}

.section-details .details-map {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.section-details .details-map img {
  box-shadow: 0px 2px 6px black;
  width: 100%;
  height: 100%;
}

.section-details i {
  font-size: 20px;
  color: tomato;
}

.review-title {
  margin: 1px 20px;
  padding: 1rem;
  background-color: #f4f5f1;
  width: 100%;
  line-height: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.review-container {
  margin: 5px 20px;
  padding: 1rem;
  background-color: #f4f5f1;
  width: 100%;
  line-height: 1rem;
  border-radius: 8px;
}

.review-container .date {
  font-size: 0.6rem;
}

.review-container p {
  width: 100%;
  line-height: 1.5rem;
}

h4 {
  font-weight: 600;
  font-size: 1.2rem;
}

.review-write {
  margin: 9px 20px;
  padding: 1rem;
  background-color: #f4f5f1;
  width: 100%;
  line-height: 1rem;
  border-radius: 8px;
}

.review-write button {
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px 30px;
  border: none;
  box-shadow: 2px 2px 4px black;
}

.profile-section {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto-edit {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

.foto-edit a {
  margin: 10px;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
}

.profile-img img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 150px;
}

.profile-info {
  margin-top: 10px;
  padding: 1rem;
  width: 95%;
  background-color: #f4f5f1;
  line-height: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  line-height: 2rem;
}

.my-business-title,
.my-reviews-title {
  font-weight: 600;
  font-size: 1.5rem;
  padding: .5rem;
}

.my-business-title i,
.my-reviews-title i {
  color: tomato;
}

.all-my-business {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
}

.my-business {
  padding-top: 5px;
  margin-bottom: 10px;
  width: 46%;
  margin: 5px;
  background-color: #f4f5f1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0, 12px, rgba(0, 0, 0, 0.9);
}

.my-business p {
  padding-top: 2%;
  text-align: center;
  font-size: 1.2rem;
  height: 45px;
  margin: 5px;
  font-weight: 600;
  line-height: 1.2rem;
}

.my-business a {
  color: black;
  text-align: center;
  width: 100%;
}

.my-business a:hover {
  text-decoration: none;
}

.my-business:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.img-business-profile {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.img-business-profile img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.review-profile {
  margin: 5px;
  padding: 15px;
  width: 90%;
  background-color: #f4f5f1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0, 12px, rgba(0, 0, 0, 0.9);
}

.review-profile h5 {
  padding: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.review-profile p {
  padding: 0 10px;
}

.review-profile button {
  background-color: #f4f5f1;
  border: none;
}

.review-profile i {
  font-size: 1.5rem;
  padding: 10px;
  color: tomato;
}

.review-profile i:hover {
  color: black;
}

@media (max-width: 858px) {
  label.logo {
    font-size: 1.3rem;
  }
  .checkbtn {
    display: block;
  }
  .navbar {
    background: #c5c5c4;
    height: 80px;
    width: 100%;
  }
  .navbar ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navbar li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navbar a {
    font-size: 20px;
  }
  .navbar a.active,
  .navbar a:hover {
    background: none;
    color: tomato;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media (min-width: 858px) {
  .section-details {
    width: 100%;
    display: flex;
  }
  .section-details .info-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: initial;
    width: 100%;
    background-color: #f4f5f1;
  }
  .section-details .info-details .img-details {
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: unset;
  }
  .section-details .info-details .img-details img {
    object-fit: unset;
    width: 100%;
    height: 100%;
  }
  .section-details .info-details .directions {
    width: 50%;
    max-width: 50%;
    padding: 25px 10px 0 20px;
  }
  .section-details .info-details .directions h2 {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.7rem;
  }
  .section-details .info-details .directions h5 {
    line-height: 2rem;
    font-size: 1.3rem;
  }
  .section-details .info-details .directions p {
    line-height: 1.6rem;
    margin: 1rem 0;
  }
  .personal-info {
    margin: 20px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .foto-edit a:hover {
    color: tomato;
  }
  .profile-info {
    width: 30%;
    background-color: white;
  }
  .my-business-title {
    font-size: 2rem;
  }
  .all-my-business {
    width: 1200px;
  }
  .my-business {
    padding-top: 5px;
    margin-bottom: 10px;
    width: 30%;
    margin: 5px;
    background-color: #f4f5f1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0, 12px, rgba(0, 0, 0, 0.9);
  }
  .my-business p {
    padding-top: 2%;
    text-align: center;
    font-size: 1.2rem;
    height: 45px;
    margin: 5px;
    font-weight: 600;
    line-height: 1.2rem;
  }
  .my-business a {
    color: black;
    text-align: center;
    width: 100%;
  }
  .my-business a:hover {
    text-decoration: none;
  }
  .my-business:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  .img-business-profile {
    width: 100%;
    height: 150px;
    border-radius: 8px;
  }
  .img-business-profile img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .review-profile {
    margin: 5px;
    padding: 15px;
    width: 90%;
    background-color: #f4f5f1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0, 12px, rgba(0, 0, 0, 0.9);
  }
  .review-profile h5 {
    padding: 10px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .review-profile p {
    padding: 0 10px;
  }
  .review-profile button {
    background-color: #f4f5f1;
    border: none;
  }
  .review-profile i {
    font-size: 1.5rem;
    padding: 10px;
    color: tomato;
  }
  .review-profile i:hover {
    color: black;
  }
}
